@-webkit-keyframes hue {
  0% {
    -webkit-filter: hue-rotate(0deg);
  }
  100% {
    -webkit-filter: hue-rotate(360deg);
  }
}
@font-face {
  font-family: 'blackoutmidnight';
  src: url('../font/code/code_bold-webfont.eot');
  src: url('../font/code/code_bold-webfont.eot?#iefix') format('embedded-opentype'), url('../font/code/code_bold-webfont.woff') format('woff'), url('../font/code/code_bold-webfont.ttf') format('truetype'), url('../font/code/code_bold-webfont.svg#code_boldregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'blackoutmidnight';
  src: url('../font/blackout/blackout-midnight-webfont.eot');
  src: url('../font/blackout/blackout-midnight-webfont.eot?#iefix') format('embedded-opentype'), url('../font/blackout/blackout-midnight-webfont.woff') format('woff'), url('../font/blackout/blackout-midnight-webfont.ttf') format('truetype'), url('../font/blackout/blackout-midnight-webfont.svg#blackoutmidnight') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'consolasregular';
  src: url('../font/consolas/consolas-webfont.eot');
  src: url('../font/consolas/consolas-webfont.eot?#iefix') format('embedded-opentype'), url('../font/consolas/consolas-webfont.woff') format('woff'), url('../font/consolas/consolas-webfont.ttf') format('truetype'), url('../font/consolas/consolas-webfont.svg#consolasregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
a {
  background: transparent;
}
a:focus {
  outline: thin dotted;
}
a:active,
a:hover {
  outline: 0;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
mark {
  background: #ff0;
  color: #000;
}
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}
pre {
  white-space: pre-wrap;
}
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}
button,
input {
  line-height: normal;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  font-size: 14px;
  line-height: 26px;
  font-family: "Helvetica Neue", Arial, "Liberation Sans", FreeSans, sans-serif;
  background: #1689cb;
  /*padding: 0 20px;*/

}
body h1 {
  font-size: 60px;
  line-height: 78px;
  margin-top: 26px;
  margin-bottom: 26px;
  font-family: 'blackoutmidnight';
  color: #93a42a;
  -webkit-animation: hue 8s infinite linear;
  background: -webkit-linear-gradient(92deg, #7db51c, #93a42a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
body h2 {
  font-size: 28px;
  line-height: 26px;
  margin-top: 26px;
  margin-bottom: 26px;
  font-family: 'blackoutmidnight';
  color: #77715d;
}
body h3 {
  font-size: 18px;
  line-height: 26px;
  margin-top: 26px;
  margin-bottom: 0;
  font-family: 'blackoutmidnight';
  color: #818078;
}
body h4,
body h5,
body h6 {
  line-height: 26px;
  margin-top: 26px;
  margin-bottom: 0px;
  font-family: 'blackoutmidnight';
  font-weight: bold;
}
body h4 {
  font-size: 16px;
  color: #0071b9;
  text-transform: uppercase;
}
body h5 {
  font-size: 14px;
  color: #464132;
}
body h6 {
  font-size: 14px;
  color: #93a42a;
  text-transform: uppercase;
}
body p,
body ul,
body ol,
body hr {
  margin-top: 0px;
  margin-bottom: 26px;
}
body ul {
  padding-left: 16px;
}
body ol {
  padding-left: 20px;
}
body small,
body aside {
  font-size: 11px;
}
body pre,
body code {
  font-family: "DejaVu Sans Mono", Monaco, Consolas, monospace;
}
hr {
  border: 0 #cccccc solid;
  border-top-width: 1px;
  clear: both;
  height: 1px;
  background: #ffffff;
}
.pull-right {
  float: right!important;
}
.pull-left {
  float: left!important;
}
.people {
  padding-top: 30px;
}
.people .trump {
  background: url('../img/bg.png') 0 0 repeat;
  padding: 4%;
  margin-top: 20px;
  overflow: hidden;
  border-radius: 20px;
  border: 1px solid #0071b9;
}
.people .trump .team {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  background: #ecbe13;
  text-align: center;
  margin-left: -100%;
  padding-top: 100px;
  margin-top: -70px;
  padding-bottom: 10px;
}
.people .trump h2 {
  font-size: 16px;
  text-align: center;
  margin-top: -50px;
  margin-bottom: auto;
}
.people .trump .post {
  text-align: center;
  background: #fff;
}
.people .trump .post p {
  margin-bottom: 8px;
}
.people .trump img {
  width: 100%;
}
.people .trump .skills {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.people .trump .skills li {
  background: #fff;
  margin-bottom: 3px;
  padding: 2px 8px;
}
#devs {
  padding: 0 0 20px 0;
  overflow: visible;
}
#devs .ib {
  display: inline-block;
}
#devs nav {
  text-align: justify;
}
#devs .wrapper {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 20px;
}
#devs .wrapper.narrow {
  max-width: 860px;
}
#devs .wrapper .set {
  width: 28.5%;
  padding: 0 2.2%;
  vertical-align: top;
}
#devs .wrapper .set h5 {
  font-size: 13px;
  color: #898989;
  font-weight: 500;
  margin-bottom: 7px;
}
#devs .wrapper .button {
  position: relative;
  display: inline-block;
  list-style-type: none;
  height: 36px;
  width: 48%;
  margin-bottom: 4%;
  background: #005580;
  cursor: pointer;
  vertical-align: top;
  text-align: center;
  line-height: 36px;
  font-size: 13px;
  color: #898989;
  font-weight: 400;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
#devs .wrapper .button.layout {
  width: 38px;
  height: 33px;
  padding-top: 4px;
  overflow: hidden;
  margin-right: 3%;
  vertical-align: top;
}
#devs .wrapper .button.layout:hover li {
  background: #ccc;
}
#devs .wrapper .button.layout.active li {
  background: #aedf16;
}
#devs .wrapper .button.layout ul {
  text-align: center;
}
#devs .wrapper .button.layout ul li {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin: 3px;
  background: #666;
  vertical-align: top;
  -webkit-transition: all 150ms ease-in-out;
  -moz-transition: all 150ms ease-in-out;
  -ms-transition: all 150ms ease-in-out;
  -o-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}
#devs .wrapper .button .arr_desc,
#devs .wrapper .button .arr_asc {
  content: '';
  position: relative;
  width: 18px;
  height: 18px;
  top: 4px;
  margin-left: 4px;
  background: rgba(255, 255, 255, 0.3);
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  -ms-border-radius: 9px;
  -o-border-radius: 9px;
  border-radius: 9px;
}
#devs .wrapper .button .arr_desc::after,
#devs .wrapper .button .arr_asc::after {
  position: absolute;
  content: '';
  width: 4px;
  height: 6px;
  right: 7px;
  top: 4px;
  background: rgba(0, 0, 0, 0.65);
}
#devs .wrapper .button .arr_desc::before,
#devs .wrapper .button .arr_asc::before {
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  right: 4px;
  top: 10px;
  border: 5.5px solid transparent;
  border-top-color: rgba(0, 0, 0, 0.65);
}
#devs .wrapper .button .arr_asc::after {
  top: auto;
  bottom: 4px;
}
#devs .wrapper .button .arr_asc::before {
  bottom: 10px;
  top: auto;
  border-top-color: transparent;
  border-bottom-color: rgba(0, 0, 0, 0.65);
}
#devs .wrapper .button .active .arr_desc,
#devs .wrapper .button .active .arr_asc {
  background: #aedf16;
}
#devs .wrapper .button .active .arr_desc::after,
#devs .wrapper .button .active .arr_asc::after {
  background: #121212;
}
#devs .wrapper .button .active .arr_desc::before {
  border-top-color: #121212;
}
#devs .wrapper .button .active .arr_asc::before {
  border-bottom-color: #121212;
}
#devs .wrapper ul {
  text-align: justify;
  list-style-type: none;
  padding-left: 0;
}
#devs .wrapper ul:after {
  content: '';
  display: inline-block;
  width: 100%;
}
#devs .wrapper .mix,
#devs .wrapper .gap {
  width: 28.5%;
  max-width: 28.5%;
  margin-bottom: 2%;
  -webkit-transition: max-width 500ms ease-in-out, height 500ms ease-in-out;
  -moz-transition: max-width 500ms ease-in-out, height 500ms ease-in-out;
  -ms-transition: max-width 500ms ease-in-out, height 500ms ease-in-out;
  -o-transition: max-width 500ms ease-in-out, height 500ms ease-in-out;
  transition: max-width 500ms ease-in-out, height 500ms ease-in-out;
}
#devs .wrapper .mix {
  display: none;
  opacity: 0;
  background: #0071b9 url(../img/dev-trumps.png);
  overflow: hidden;
  padding: 1.5%;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  -webkit-box-shadow: 0 0 12px #000;
  -moz-box-shadow: 0 0 12px #000;
  -ms-box-shadow: 0 0 12px #000;
  -o-box-shadow: 0 0 12px #000;
  box-shadow: 0 0 12px #000;
}
#devs .wrapper .mix .team {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  background: #ecbe13;
  text-align: center;
  margin-left: -100%;
  padding-top: 100px;
  margin-top: -70px;
  padding-bottom: 10px;
  margin-bottom: -70px;
  position: relative;
  z-index: 9999;
}
#devs .wrapper .mix .content {
  position: relative;
  padding-top: 100%;
  overflow: hidden;
  border-radius: 6px;
}
#devs .wrapper .mix .content h5 {
  position: absolute;
  top: 0;
  right: 0;
  text-transform: uppercase;
  color: #818078;
  font-size: 14px;
  line-height: 1em;
  font-weight: 700;
  letter-spacing: 1px;
  z-index: 2;
  width: 100%;
  text-align: right;
  background: #f2f2f2;
  padding: 10px 20px;
  border-radius: 4px;
}
#devs .wrapper .mix .content .img_wrapper {
  position: absolute;
  width: auto;
  height: 100%;
  width: 100%;
  top: 5px;
  left: 0;
  opacity: 0;
  background-repeat: no-repeat;
  margin-top: 60px;
  border-radius: 6px;
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto !important;
  -ms-background-size: 100% auto;
  -o-background-size: 100% auto;
  background-size: 100% auto;
}
#devs .wrapper .mix .content .img_wrapper.loaded {
  opacity: 1;
}
#devs .wrapper .mix .content img {
  position: absolute;
  left: -9999px;
  top: -9999px;
  height: 1px;
  width: 1px;
}
#devs .wrapper .mix .skills {
  margin-bottom: 0;
  margin-top: 4px;
}
#devs .wrapper .mix .skills li {
  background: #f2f2f2;
  border-radius: 4px;
  margin-bottom: 4px;
  padding: 5px 10px;
}
#devs .wrapper .mix.full_width {
  position: relative;
  max-width: 100%;
  width: auto;
  border-top: 1px solid #adada5;
  padding: 10px;
  margin-bottom: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}
#devs .wrapper .mix.full_width .content {
  max-width: 120px;
  overflow: visible;
  padding-top: 80px;
  background: none;
  border: 0;
  -webit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}
#devs .wrapper .mix.full_width .content .img_wrapper {
  max-width: 120px;
  max-height: 80px;
  margin-top: 0;
}
#devs .wrapper .mix.full_width .content img {
  max-width: 120px;
  max-height: 80px;
  display: none;
}
#devs .wrapper .mix.full_width .content h5 {
  left: 130px;
  width: 150px;
  top: 4px;
  background: transparent;
  letter-spacing: 0;
  font-size: 16px;
  text-transform: none;
}
#devs .wrapper .mix.full_width .skills {
  display: block;
  position: absolute;
  top: 12px;
  right: 10px;
  width: 65%;
  line-height: 26px;
  letter-spacing: 0;
  font-weight: 400;
  font-size: 14px;
  text-transform: none;
  list-style-type: disc;
  background: transparent;
}
#devs .wrapper .mix.full_width .skills li {
  list-style-type: disc;
  float: left;
  margin-right: 40px;
  background: transparent;
}
#devs .wrapper .gap {
  display: inline-block;
  margin-bottom: 0;
}
.touch .hide {
  display: none;
}
@media screen and (max-width: 900px) {
  #devs .wrapper .button {
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
  #devs .wrapper .set {
    width: 28.5%;
    padding: 0 2%;
  }
}
body:not(.touch) #devs .wrapper .button:hover {
  background: #161616;
}
body:not(.touch) #devs .wrapper .button:not(.slider):hover {
  color: #fff;
}
@media screen and (max-width: 900px) {
  #devs .wrapper .button.effect,
  #devs .wrapper .button.effect.slider {
    width: 48%;
  }
}
@media screen and (max-width: 1024px) {
  .touch #devs {
    height: 500px;
  }
}
@media screen and (max-width: 768px) {
  .touch #devs {
    height: 680px;
  }
}
@media screen and (max-width: 320px) {
  .touch #devs {
    height: 430px;
  }
}
@media screen and (max-width: 500px) {
  #devs .wrapper .mix .content h5 {
    top: 4px;
    left: 6px;
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 0;
  }
}
/* 3 PER ROW */
@media screen and (max-width: 940px) {
  #devs .wrapper .mix,
  #devs .wrapper .gap {
    width: 46%;
    max-width: 46%;
    margin-bottom: 2%;
  }
}
@media screen and (max-width: 767px) {
  body {
    padding: 0;
  }
  body .twozeroonefour h1 {
    font-size: 76px;
    text-align: center;
  }
  body .twozeroonefour h1,
  body .twozeroonefour h2,
  body .twozeroonefour h3,
  body .twozeroonefour h4,
  body .twozeroonefour h5,
  body .twozeroonefour h6 {
    margin-top: 0;
    margin-bottom: 0px;
  }
  body .twozeroonefour #bx-pager a img {
    border: 4px solid #fff;
    float: left;
    margin: 0 1.5% 1.5% 0;
    width: 20%;
  }
}
