
hr {
    border: 0 #cccccc solid;
    border-top-width: 1px;
    clear: both;
    height: 1px;
    background:  #ffffff;
}
.pull-right {
    float: right!important;
}
.pull-left {
    float: left!important;
}


// Content

// .grid-container {
//     background: @white;


// }
section {
    padding-top: 300px;
    .para {
        background: @ltgrey;
        position: absolute;
        width: 100%;

        .me {
            font-family: 'consolasregular';
            color: @white;
        }
    }
}