#devs {
  padding: 0 0 20px 0;
  overflow: visible;
}
#devs .ib {
  display: inline-block;
}
#devs nav {
  text-align: justify;
}
#devs .wrapper {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 20px;
}
#devs .wrapper.narrow {
  max-width: 860px;
}
#devs .wrapper .set {
  width: 23%;
  vertical-align: top;
}
#devs .wrapper .set h5 {
  font-size: 13px;
  color: #898989;
  font-weight: 500;
  margin-bottom: 7px;
}
#devs .wrapper .button {
  position: relative;
  display: inline-block;
  list-style-type: none;
  height: 36px;
  width: 48%;
  margin-bottom: 4%;
  background: #222;
  cursor: pointer;
  vertical-align: top;
  text-align: center;
  line-height: 36px;
  font-size: 13px;
  color: #898989;
  font-weight: 400;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
#devs .wrapper .button.layout {
  width: 38px;
  height: 33px;
  padding-top: 4px;
  overflow: hidden;
  margin-right: 3%;
  vertical-align: top;
}
#devs .wrapper .button.layout:hover li {
  background: #ccc;
}
#devs .wrapper .button.layout.active li {
  background: #aedf16;
}
#devs .wrapper .button.layout ul {
  text-align: center;
}
#devs .wrapper .button.layout ul li {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin: 3px;
  background: #666;
  vertical-align: top;
  -webkit-transition: all 150ms ease-in-out;
  -moz-transition: all 150ms ease-in-out;
  -ms-transition: all 150ms ease-in-out;
  -o-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}
#devs .wrapper .button .arr_desc,
#devs .wrapper .button .arr_asc {
  content: '';
  position: relative;
  width: 18px;
  height: 18px;
  top: 4px;
  margin-left: 4px;
  background: rgba(255, 255, 255, 0.3);
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  -ms-border-radius: 9px;
  -o-border-radius: 9px;
  border-radius: 9px;
}
#devs .wrapper .button .arr_desc::after,
#devs .wrapper .button .arr_asc::after {
  position: absolute;
  content: '';
  width: 4px;
  height: 6px;
  right: 7px;
  top: 4px;
  background: rgba(0, 0, 0, 0.65);
}
#devs .wrapper .button .arr_desc::before,
#devs .wrapper .button .arr_asc::before {
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  right: 4px;
  top: 10px;
  border: 5.5px solid transparent;
  border-top-color: rgba(0, 0, 0, 0.65);
}
#devs .wrapper .button .arr_asc::after {
  top: auto;
  bottom: 4px;
}
#devs .wrapper .button .arr_asc::before {
  bottom: 10px;
  top: auto;
  border-top-color: transparent;
  border-bottom-color: rgba(0, 0, 0, 0.65);
}
#devs .wrapper .button .active .arr_desc,
#devs .wrapper .button .active .arr_asc {
  background: #aedf16;
}
#devs .wrapper .button .active .arr_desc::after,
#devs .wrapper .button .active .arr_asc::after {
  background: #121212;
}
#devs .wrapper .button .active .arr_desc::before {
  border-top-color: #121212;
}
#devs .wrapper .button .active .arr_asc::before {
  border-bottom-color: #121212;
}
#devs .wrapper ul {
  text-align: justify;
  list-style-type: none;
  font-size: 0.1px;
  line-height: 0;
  padding-left: 0;
}
#devs .wrapper ul:after {
  content: '';
  display: inline-block;
  width: 100%;
}
#devs .wrapper .mix,
#devs .wrapper .gap {
  width: 31.5%;
  max-width: 31.5%;
  margin-bottom: 2%;
  -webkit-transition: max-width 500ms ease-in-out, height 500ms ease-in-out;
  -moz-transition: max-width 500ms ease-in-out, height 500ms ease-in-out;
  -ms-transition: max-width 500ms ease-in-out, height 500ms ease-in-out;
  -o-transition: max-width 500ms ease-in-out, height 500ms ease-in-out;
  transition: max-width 500ms ease-in-out, height 500ms ease-in-out;
}
#devs .wrapper .mix {
  display: none;
  opacity: 0;
}
#devs .wrapper .mix .content {
  position: relative;
  padding-top: 58%;
  overflow: hidden;
  background: #1e1e1e;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 0 12px #000;
  -moz-box-shadow: 0 0 12px #000;
  -ms-box-shadow: 0 0 12px #000;
  -o-box-shadow: 0 0 12px #000;
  box-shadow: 0 0 12px #000;
}
#devs .wrapper .mix .content h5 {
  position: absolute;
  top: 8px;
  left: 12px;
  text-transform: uppercase;
  color: #fff;
  font-size: 14px;
  line-height: 1em;
  font-weight: 700;
  letter-spacing: 1px;
  z-index: 2;
}
#devs .wrapper .mix .content .img_wrapper {
  position: absolute;
  width: auto;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.3);
  background-repeat: no-repeat;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-background-size: auto 100%;
  -moz-background-size: auto 100% !important;
  -ms-background-size: auto 100%;
  -o-background-size: auto 100%;
  background-size: auto 100%;
}
#devs .wrapper .mix .content .img_wrapper.loaded {
  opacity: 1;
}
#devs .wrapper .mix .content img {
  position: absolute;
  left: -9999px;
  top: -9999px;
  height: 1px;
  width: 1px;
}
#devs .wrapper .mix.full_width {
  position: relative;
  max-width: 100%;
  width: auto;
  border-top: 1px solid red;
  padding: 10px;
  margin-bottom: 0;
}
#devs .wrapper .mix.full_width .content {
  max-width: 120px;
  overflow: visible;
  padding-top: 80px;
  background: none;
  border: 0;
  -webit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}
#devs .wrapper .mix.full_width .content .img_wrapper {
  max-width: 120px;
  max-height: 80px;
}
#devs .wrapper .mix.full_width .content img {
  max-width: 120px;
  max-height: 80px;
  display: none;
}
#devs .wrapper .mix.full_width .content h5 {
  left: 130px;
  width: 150px;
  top: 4px;
  letter-spacing: 0;
  font-size: 16px;
  text-transform: none;
}
#devs .wrapper .mix.full_width .skills {
  display: block;
  position: absolute;
  top: 12px;
  right: 10px;
  width: 65%;
  color: #fff;
  line-height: 26px;
  letter-spacing: 0;
  font-weight: 400;
  font-size: 14px;
  text-transform: none;
  list-style-type: disc;
}
#devs .wrapper .mix.full_width .skills li {
  list-style-type: disc;
  float: left;
  margin-right: 40px;
}
#devs .wrapper .gap {
  display: inline-block;
  margin-bottom: 0;
}
.touch .hide {
  display: none;
}
@media screen and (max-width: 900px) {
  #devs .wrapper .button {
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
  #devs .wrapper .set {
    width: 48%;
  }
}
body:not(.touch) #devs .wrapper .button:hover {
  background: #161616;
}
body:not(.touch) #devs .wrapper .button:not(.slider):hover {
  color: #fff;
}
@media screen and (max-width: 900px) {
  #devs .wrapper .button.effect,
  #devs .wrapper .button.effect.slider {
    width: 48%;
  }
}
@media screen and (max-width: 1024px) {
  .touch #devs {
    height: 500px;
  }
}
@media screen and (max-width: 768px) {
  .touch #devs {
    height: 680px;
  }
}
@media screen and (max-width: 320px) {
  .touch #devs {
    height: 430px;
  }
}
@media screen and (max-width: 500px) {
  #devs .wrapper .mix .content h5 {
    top: 4px;
    left: 6px;
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 0;
  }
}
/* 3 PER ROW */
@media screen and (max-width: 940px) {
  #devs .wrapper .mix,
  #devs .wrapper .gap {
    width: 49%;
    max-width: 49%;
    margin-bottom: 2%;
  }
}
